In [1]:
import pickle
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

C:\Users\User\anaconda3\envs\deep_env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\User\anaconda3\envs\deep_env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data = pd.read_csv(r'C:\Users\User\GIT\model testing\Ocena-komentarzy-NLP/web_scraping/allegro_scraped1.csv', sep=',', names = ['Sentiment', 'Opinion'],  encoding= 'utf-8')
df = pd.DataFrame(data)
df

      Sentiment                                            Opinion
0             1  Francois Nuyts prezes to jest główny winowajca...
1             1  Allegro to nic innego jak zysk od sprzedaży Na...
2             5  Jestem kupującym-nie sprzedającym i jestem bar...
3             1  Allegro obecnie przypomina Bazar Różyckiego. T...
4             1  Sprzedaż na Allegro Lokalnie bez żadnych  kosz...
...         ...                                                ...
1163          5  Zamówienie złożone online wszystko na plus jeś...
1164          5  spoko loko luz i spontan. Bardzo szybka wysyłk...
1165          5            WSZYSTKO O.K. Tak powinno być wszędzie.
1166          1                  Zamówiony towar nigdy nie dotarł.
1167          5  Cała transakcja przebiegła bardzo sprawnie. Za...

[1168 rows x 2 columns]

In [3]:
print(len(df[df.Sentiment == 1]))
print(len(df[df.Sentiment == 5]))

514
626

In [4]:
df.loc[df['Sentiment'] == 1, 'Sentiment']=0
df.loc[df['Sentiment'] == 5, 'Sentiment']=1

In [5]:
df

      Sentiment                                            Opinion
0             0  Francois Nuyts prezes to jest główny winowajca...
1             0  Allegro to nic innego jak zysk od sprzedaży Na...
2             1  Jestem kupującym-nie sprzedającym i jestem bar...
3             0  Allegro obecnie przypomina Bazar Różyckiego. T...
4             0  Sprzedaż na Allegro Lokalnie bez żadnych  kosz...
...         ...                                                ...
1163          1  Zamówienie złożone online wszystko na plus jeś...
1164          1  spoko loko luz i spontan. Bardzo szybka wysyłk...
1165          1            WSZYSTKO O.K. Tak powinno być wszędzie.
1166          0                  Zamówiony towar nigdy nie dotarł.
1167          1  Cała transakcja przebiegła bardzo sprawnie. Za...

[1168 rows x 2 columns]

In [8]:
# df.to_pickle('corpus1.pkl')

In [6]:
import pandas as pd

data = pd.read_pickle('corpus1.pkl')

In [7]:
import re

In [11]:
# stopwords = pd.read_csv('stopwords.txt', header=None)
# stopwords.columns = ['word']
# stopwords_list = list(stopwords['word'])
# # stopwords_list

In [8]:
def clean_text(text):    
    text = text.lower()
    text = re.sub(r'[\?,!.*]*', '', text) # replacement of what in the square bracket
    text = re.sub('\w*\d\w*', '', text)# remove digits
    text = re.sub('[‘’“”…]', '', text)
#     text = re.sub(re.compile(r'\W*\b\w{1,1}\b'), "", text) #remove short words
#     text = re.sub('\n', '', text)
    text = text.split()
#     text = [word for word in text if not word in stopwords_list] # remove stopwords
    text = ' '.join(text)
    return text

round1 = lambda x: clean_text(x)

In [9]:
data_clean = pd.DataFrame(df.Opinion.apply(round1))
data_clean

                                                Opinion
0     francois nuyts prezes to jest główny winowajca...
1     allegro to nic innego jak zysk od sprzedaży na...
2     jestem kupującym-nie sprzedającym i jestem bar...
3     allegro obecnie przypomina bazar różyckiego ty...
4     sprzedaż na allegro lokalnie bez żadnych koszt...
...                                                 ...
1163  zamówienie złożone online wszystko na plus jeś...
1164  spoko loko luz i spontan bardzo szybka wysyłka...
1165               wszystko ok tak powinno być wszędzie
1166                   zamówiony towar nigdy nie dotarł
1167  cała transakcja przebiegła bardzo sprawnie zam...

[1168 rows x 1 columns]

In [10]:
data_clean['Sentiment'] = df['Sentiment']
data_clean

                                                Opinion  Sentiment
0     francois nuyts prezes to jest główny winowajca...          0
1     allegro to nic innego jak zysk od sprzedaży na...          0
2     jestem kupującym-nie sprzedającym i jestem bar...          1
3     allegro obecnie przypomina bazar różyckiego ty...          0
4     sprzedaż na allegro lokalnie bez żadnych koszt...          0
...                                                 ...        ...
1163  zamówienie złożone online wszystko na plus jeś...          1
1164  spoko loko luz i spontan bardzo szybka wysyłka...          1
1165               wszystko ok tak powinno być wszędzie          1
1166                   zamówiony towar nigdy nie dotarł          0
1167  cała transakcja przebiegła bardzo sprawnie zam...          1

[1168 rows x 2 columns]

In [17]:
# df.to_pickle('corpus_cleaned.pkl')

In [11]:
df_x =data_clean['Opinion']
df_y = data_clean['Sentiment']

In [12]:
# Document-Term Matrix - word counts in matrix format
tfidf = TfidfVectorizer()
data_tfidf = tfidf.fit_transform(data_clean.Opinion)
data_dtm = pd.DataFrame(data_tfidf.toarray(), columns=tfidf.get_feature_names())
data_dtm.index = data_clean.index
data_dtm

,_głupi_,_holaola_,abonamenty,aborcja,absolutnie,absurd,absurdalne,absurdalnej,absurdalnie,absurdem,...,żyje,żyjemy,żyją,żyli,żywicielami,żąda,żądają,żądaniu,żądnego,żązden
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Let's pickle it for later use
# data_dtm.to_pickle("tfidf_dtm.pkl")

In [14]:
# pickle the cleaned data and the CountVectorizer object
data_clean.to_pickle('data_clean.pkl')
pickle.dump(tfidf, open("tfidf.pkl", "wb"))

In [15]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.25, random_state = 4)

In [16]:
x_train_countvectorizer = tfidf.fit_transform(x_train)

In [24]:
# print(x_train[0])
# print(x_train_countvectorizer[0])

In [17]:
mnb = MultinomialNB()

In [18]:
mnb.fit(x_train_countvectorizer, y_train)

MultinomialNB()

In [19]:
x_test_countvectorizer = tfidf.transform(x_test)

In [20]:
pred = mnb.predict(x_test_countvectorizer)
# print(pred)

In [21]:
rezult = np.array(y_test)
# print(rezult)

In [22]:
count = 0
for i in range(len(pred)):
    if pred[i] == rezult[i]:
        count += 1    

print(count)
print(len(pred))

273
292

In [23]:
accuracy = count/len(pred)
print(accuracy)

0.934931506849315

In [27]:
# ### The evaluation of coments typed by the user.

test_set = ['te opinie są tandetne i nie wiem jak można je wogóle czytać']
new_test = tfidf.transform(test_set)
prediction = int(mnb.predict(new_test)) # model przewiduje, czy wpisane zdanie jest positive=1, czy negative=0
if prediction == 0:
    print('negative')
else:
    print('positive')
    
print(prediction)

negative
0

In [26]:
with open(r'C:\Users\User\GIT\model testing\Ocena-komentarzy-NLP\Flask\pickeld_sentiment_classifier.pkl', 'wb') as f:
    pickle.dump(mnb , f)